<html>
  <head>
    <meta charset='utf-8' />
    <title>Welcome to My Auth</title>
  </head>
  <body>
    <h1>Welcome, {{name}}!</h1>
    <p>Thank you for joining us.</p>

    <p>Here are your details:</p>
    <ul>
      <li>Name: {{name}}</li>
      <li>Email: {{email}}</li>
    </ul>

    <p>You can access your account at: <a href='{{url}}'>{{url}}</a></p>

    <footer>
      <p>&copy; {{year}} My Auth. All rights reserved.</p>
    </footer>
  </body>
</html>